@import vars
@import basic

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  no-selection()

body
  background: rgba(253,255,250,1)

img
  no-selection()

.sprite
  no-selection()
  position: absolute
  .base, .normal, .active
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: contain
    background-position: center bottom
    background-repeat: no-repeat
    padding: 0.6837%
  .active
    padding: 0
    &.blink
      animation(blink 0.15s infinite linear)

#frame
  max-width: 1024px
  padding: 20px 10px
  background: #000
  margin: auto

#wrapper
  no-selection()
  width: 100%
  position: relative
  overflow: hidden

#wheel
  no-selection()
  position: absolute
  z-index: index(order, 'wheel')
  background-image: url(img/wheel.png)
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  width: 33%
  margin: -16.5% 0 0 -16.5%
  display: none

.sprite 
  .active 
    width: 100%
    overflow: hidden
  .active img
    width: 100%

for type in (1..12)
  for variant in 0 1 2 3 4 5 6 7
    for active in 0 1
      .it-{type}-{variant}-{active}
        .base
          background-image: unquote("url(img/it-"+type+"-0-0.png)")
        .normal
          background-image: unquote("url(img/it-"+type+"-"+variant+"-0.png)")
    //.it-{type}-{variant}-1
    //  .active
    //    background-image: unquote("url(img/it-"+type+"-"+variant+"-1.png)")

+keyframes(blink)
  0%
    opacity: 0
  49.9%
    opacity: 0
  50%
    opacity: 1

#block-mask
  width: 100%
  height: 100%
  //background: url(img/it-2-2-1.png) rgba(0,0,0,0.7) center center no-repeat
  background: rgba(65,65,65,0.7)
  z-index: index(order, 'mad-mask')
  position: absolute
  cursor: pointer
  .type img
    position: absolute
    top: 7.4%
    left: 37%
    width: 35.5%
    opacity: 1
    animation(blink 0.4s infinite linear)
  .type img:nth-of-type(2)
    animation-delay(0.2s)


#hit-mask
  width: 100%
  height: 100%
  background: url(mask.png) center center
  background-size: contain
  z-index: index(order, 'hit-mask')
  position: absolute
  opacity: 0.5

#dialog
  width: 100%
  height: 100%
  position: absolute
  z-index: index(order, 'dialog')
  background: rgba(0,0,0,0.5)
  display: none
  &.mini
    background: none
    #dialog-doctor
      display: none
    #dialog-content
      left: 33%
      top: 43%
      width: 50%
  img
    position: absolute
  #dialog-content
    left: 7%
    width: 60%
    top: 13%
  #dialog-doctor
    width: 20%
    right: 10%
    top: 17%
  .btn
    position: absolute
    top: 75%
    left: 45%
    font-size: 24px

#dialog-body
  width: 90%
  height: 90%
  position: absolute
  top: 5%
  left: 5%
  padding: 10px 20px
  background: rgba(255,255,255,0.9)
  border-radius: 5px
  box-shadow: 0 3px 3px rgba(0,0,0,0.5)

#dialog-ctrl
  position: absolute
  bottom: 2%
  right: 2%

#energy
  position: absolute
  top: 2%
  left: 2%
  z-index: index(order, 'gauge')
  width: 33%
  height: 4%
  margin: 0.85%
  &.active
    animation(vibrate 0.2s linear infinite)

#energy-base, #energy-current
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: index(order, 'gauge')
  position: absolute
  background-size: cover
  background-position: left center
  background-repeat: no-repeat

#energy-base
  background-image: url(img/gauge/energy-0.png)
#energy-current 
  z-index: index(order, 'gauge-current')
  background-image: url(img/gauge/energy-5.png)
  transition(width 0.5s ease-in-out)

+keyframes(vibrate)
  0%
    transform(translate(5px,0))
  20%
    transform(translate(-2px,2px))
  40%
    transform(translate(-1px,-4px))
  60%
    transform(translate(3px,3px))
  80%
    transform(translate(-1px,-1px))
  100%
    transform(translate(0,0))

#chance
  position: absolute
  top: 8%
  left: 3.3%
  width: 30%
  height: 10%
  z-index: index(order, 'gauge')
  &.active
    animation(vibrate 0.2s linear infinite)

#chance .chance-node
  width: 17.5%
  height: 100%
  margin: 2px
  display: inline-block
  background-image: url(img/gauge/chance-x.png)
  background-size: contain
  background-repeat: no-repeat
  &.active
    background-image: url(img/gauge/chance-o.png)

+keyframes(beat)
  0%
    transform(scale(1.2))
  100%
    transform(scale(1.0))
#score
  position: absolute
  top: 2%
  right: 2%
  width: 14.648%
  height: 10.416%
  background-image: url(img/gauge/counting.png)
  background-repeat: no-repeat
  background-size: contain
  z-index: index(order, 'gauge')
  padding-left: 1.757%
  &.hint
    animation(beat 0.5s ease-out infinite)

#score, #game-over
  .score-digit
    display: inline-block
    width: 14%
    height: 100%
    margin: 2% 3%
    background-repeat: no-repeat
    background-size: contain
    z-index: index(order, 'guage-current')
#score .score-digit
  margin-top: 10%
  height: 40%

#landing, #pause, #game-ctrl, #game-over, #countdown, #loading
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: cover
  background-repeat: no-repeat
  z-index: index(order, 'cover')

#landing 
  background-image: url(img/cover/landingscene.png)
  div
    position: absolute
    width: 24%
    height: 13%
    bottom: 38%

#landing div, #pause div, #game-ctrl div, #game-over div
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    cursor: pointer
    &.active
      display: none
  &:hover
    img.active
      display: block

#landing-reporter
  left: 11%
#landing #landing-start
  left: 50%
  width: 30%
  height: 30%
  bottom: 26%
  margin-left: -15%
#landing-skip
  right: 11%

+keyframes(fade)
  0%
    opacity: 1
  100%
    opacity: 0

#loading
  z-index: index(order, 'loading')
  background: #fff
  &.fade
    animation(fade 0.5s ease-in-out 1)
#loading-text
  position: absolute
  width: 80%
  bottom: 20%
  left: 10%

#loading-fig
  width: 10%
  position: absolute
  top: 20%
  left: 45%
  .base
    width: 100%

#loading-progress
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  transition(top 0.5s linear)
  img
    position: absolute
    width: 100%
    transition(top 0.5s linear)

#pause
  background-color: rgba(65,65,65,0.7)
  text-align: center
  div
    display: inline-block
    position: relative
    width: 12%
    height: 12%
    top: 42%
    margin: 0 3%

#game-ctrl
  z-index: index(order, 'game-ctrl')
  top: auto
  left: auto
  bottom: 40px
  right: 20px
  width: 6%
  height: 6%
  div
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

#game-ctrl div#gctrl-cont
  left: -380%
  width: 351%

#game-over
  z-index: index(order, 'game-over')
  background-color: rgba(65,65,65,0.7)
  background-image: url(img/cover/exitscene.png)
  text-align: center
  div
    top: 45%
    position: relative
    display: inline-block
    width: 10%
    height: 17.7%
    margin: 0 3%
  img
    width: 100%
    height: 100%
  .score
    position: absolute
    top: 71.7%
    left: 38%
    width: 18%
    height: 8%
    .score-digit
      top: 0

#countdown
  background: rgba(65,65,65,0.7)
  img
    position: absolute
    width: 30%
    top: 25%
    left: 35%

#head
  text-align: center
  font-size: 32px
  .pull-right
    margin: 8px 0
    img
      vertical-align: bottom
      padding: 0
      width: 18px
      margin-left: 16px

#logo
  width: 300px
  margin: 15px

#container
  max-width: 1000px
  margin: auto

#foot
  font-family: 'Montserrat', sans-serif;
  width: 100%
  margin-top: 10px
  .pull-left img
    width: 50px
    margin-top: 10px
  .pull-right img
    width: 120px

  a
    color: #000
  #foot-source
    padding: 5px
    font-size: 13px
    float: right
    background: #000
    color: #fff

#finger-tap
  opacity: 0.8
#finger-tap, #finger-slide
  display: none
  width: 25%
  height: 39.5%
  position: absolute
  top: 0
  left: 0
  z-index: index(order, 'cover')
  img
    width: 100%
    height: 100%
    position: absolute
    bottom: 0
    left: 0

#finger-tap
  img
    animation(blink 0.2s infinite linear)
  img:nth-of-type(2)
    animation-delay(0.1s)

+keyframes(slide1)
  0%
    opacity: 1
  33.2%
    opacity: 1
  33.3%
    opacity: 0
  100%
    opacity: 0

+keyframes(slide2)
  0%
    opacity: 0
  33.2%
    opacity: 0
  33.3%
    opacity: 1
    left: 0
  66.6%
    opacity: 1
    left: 0%
  100%
    left: 50%

+keyframes(slide3)
  0%
    opacity: 0
  33.2%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 1

#finger-slide
  no-selection()
  img
    no-selection()
  img:nth-of-type(1)
    animation(slide1 3.0s infinite linear)
    z-index: 1
  img:nth-of-type(2)
    animation(slide2 3.0s infinite linear)
    z-index: 1
  img:nth-of-type(3)
    width: 132%
    height: 132%
    left: 8%
    top: -40%
    z-index: 0
    animation(slide3 3.0s infinite linear)

+keyframes(jump)
  0%
    transform(translate(0,0)) 
  50%
    transform(translate(0,10px)) 
  100%
    transform(translate(0,0)) 

#arrow
  position: absolute
  width: 7%
  height: 20%
  display: none
  animation(jump 0.6s ease-in-out infinite)
  z-index: index(order, 'cover')
  img
    width: 100%
    height: 100%

#danger
  z-index: index(order, 'game-ctrl')
  position: absolute
  display: none
  top: 25%
  left: 30%
  width: 40%
  &.active
    display: block
  no-selection()
  img
    width: 100%
  animation(blink 0.4s linear infinite)

#block-progress
  top: 57.4%
  left: 47%
  width: 14%
  height: 12px
  border: 2px solid #fff
  border-radius: 5px
  position: absolute
  div
    transition(width 0.2s ease-in-out)
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%
    background: #fff
