order = 'base gauge gauge-current wheel hit-mask mad-mask urgent cover game-over dialog pause game-ctrl deg90 loading frame'
z-index-base = 10
z-index-gauge = 20
z-index-gauge-current = 30
z-index-wheel = 40
z-index-hit-mask = 50
z-index-mad-mask = 60
z-index-urgent = 70
z-index-cover = 80
z-index-game-over = 90
z-index-dialog = 100
z-index-pause = 110
z-index-game-ctrl = 120
z-index-deg90 = 130
z-index-loading = 140
z-index-frame = 150
